@media screen and (min-width: 768px){
    .close{
        margin-top:0px;
        font-size:21px;
        font-weight: 700;
    }
}

@media (min-width: 768px){
    .modal-pequeno{
        max-width: 400px !important;
    }

    .modal-grande{
        max-width: 500px !important;
    }
}