@media screen and (max-width: 390px){

    .warning-message{
        margin-top: 70px;
    }
}

@media screen and (min-width: 614px){

    .warning-message{
        margin-top: 45px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 770px){

    .warning-message{
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
}