.btn-main {
    background-color: #0E497F;
    opacity: .85;
    color: white;
    border: 1px solid #011f4b;
    transition-duration: 0.4s;
}

.btn-main-sub {
    background-color: rgba(235,252,255,0.5);
    opacity: 0.85;
    color: #011f4b;
    border: 1px solid #011f4b;
    transition-duration: 0.4s;
}

.btn-nmain {
    background-color: #337ab7;
    color: white;
    border: 1px solid #011f4b;
    transition: 0.25s;
}

.navbar{
    background-color: #337ab7;
    border-color: white;
    color: white;
}

.navbar .navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar .navbar-nav > li > a {
    color: white;
    transition-duration: 0.4s;
}

.navbar .navbar-nav > li > a:hover {
    color: #337ab7;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
    color: #337ab7;
    background-color: white;
}

.form-control[disabled]{

    cursor: auto;
    color: #257FDB;
    font-weight: bold; 
    border-color: #257FDB;
    background-color: #F9FFFF;
}

.has-success .form-control{
    color: #337ab7;
    border-color: #337ab7;
}

.has-success .form-control:focus{
    border-color: #337ab7;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #337ab7;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #337ab7;
}

.has-success .input-group-addon {
    color: #337ab7;
    background-color: #C1E2F7;
    border-color: #337ab7;
}

.has-success .help-block{
    color: #337ab7;
}

.help-block{
    color: #257FDB;
}

.has-error .help-block{
    color: #FF6261;
}

.has-error .form-control{
    color: #FF6261;
    border-color: #FF6261;
}

.has-error .form-control:focus{
    border-color: #FF6261;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #FF6261;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #FF6261;
}

.has-error .input-group-addon {
    color: #FF6261;
    background-color: #FFB7B4;
    border-color: #FF6261;
}

.page-header{
    color: #005b96;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,91,150,0.15);
    transition: 0.2s;
}

.jumbotron{
    color: #005b96;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.msg{
    font-size: 12px;
}

.modal-backdrop{
    background-color: #E6EBE9
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.row{
    text-align: center;
}

.footer-main{
    background-color: #337ab7;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    color: #EBF2F7;
}

pre{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #257FDB;
    border: none;
    border-left-color: #337ab7;
    border-left-style: solid;
    border-left-width: 5px;
    height: 60px;
}

.help-discriminacao{
    cursor: pointer;
}

.close{
    margin-top:-3px;
    font-size:25px;
    font-weight: 900;
    color: white;
    opacity: 0.5;
}

