<body>
    <div class="container container-table col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <div class="row vertical-center-row">
            <button type="button" class="btn btn-main btn-lg btn-block" data-toggle="modal" data-target="#ipiProprioModal">IPI Próprio</button>
            <br>
            <button type="button" class="btn btn-main-sub btn-lg btn-block" ng-click="voltar()">Voltar</button>
        </div>
    </div>

    <!-- IPI Próprio Modal Início -->
            <div class="container">
                <div id="ipiProprioModal" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">IPI Próprio</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group row">
                                        <label for="lbBaseIpiProprio" class="col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">Base de Calculo:</label>
                                        <div class="col-sm-3 col-xs-3">
                                           <input type="number"  ng-model="ipiProprio.Base" class="form-control" id="baseIpiProprio" min='0'>         
                                        </div>
                                    </div>
                                    <div class="form-group row">    
                                        <label for="lbAliquotaIpiProprio" class="col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">Alíquota IPI:</label>
                                        <div class="col-sm-3 col-xs-3">
                                            <div class="input-group">
                                                <input type="number" ng-model="ipiProprio.Aliquota" class="form-control" id="aliquotaIpi" min='0' max='100'/>
                                                <span class="input-group-addon" id="percent-addon">%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                                            <button type="button" class="btn btn-main btn-block" ng-click="calculoIpiProprio()">Calcular</button>
                                        </div>
                                    </div>
                                    <div class="form-group row">    
                                        <label for="lbValorIpiProprio" class="col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">Valor IPI:</label>
                                        <div class="col-sm-3 col-xs-3">
                                            <input type="text" ng-model="ipiProprio.Valor" class="form-control"  id="valorIpiProprio" disabled>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Discriminação Calculo:</div>
                                            <div class="panel-body">
                                                <center>
                                                (Base de calculo) * (Alíquota de IPI)/100 = (Valor do IPI) 
                                                <br></br>
                                                {{ipiProprio.Base}} R$ * {{ipiProprio.Aliquota}}/100 = {{ipiProprio.ValorDiscriminacao}} R$
                                                </center>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-main-sub" ng-click="limparIpiProprio()">Limpar</button>
                                            <button type="button" class="btn btn-main-sub" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- ICMS Próprio Modal Final -->