<body>
    <div class="container container-table col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <div class="row vertical-center-row">
            <button type="button" class="btn btn-main btn-lg btn-block" data-toggle="modal" data-target="#ipiProprioModal">IPI Próprio</button>
            <br>
            <button type="button" class="btn btn-main-sub btn-lg btn-block" ng-click="controlipi.voltar()">Voltar</button>
        </div>
    </div>

    <!-- IPI Próprio Modal Início -->
            <div class="container">
                <div id="ipiProprioModal" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content col-sm-10 col-sm-offset-1">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">IPI Próprio</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="lbBaseIpiProprio">Base de Calculo:</label>
                                        <div class="col-sm-3 col-xs-3">
                                           <input type="number"  ng-model="controlipi.valoresipiProprio.base" class="form-control" id="baseIpiProprio">         
                                        </div>
                                    </div>
                                    <div class="form-group">    
                                        <label for="lbAliquotaIpiProprio">Alíquota IPI:</label>
                                        <div class="col-sm-3 col-xs-3">
                                            <div class="input-group">
                                                <input type="number" ng-model="controlipi.valoresipiProprio.aliquota" class="form-control" id="aliquotaIpi">
                                                <span class="input-group-addon" id="percent-addon">%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-main btn-block" ng-click="controlipi.valoresipiProprio.calcular()">Calcular</button>
                                        </div>
                                    </div>
                                    <div class="form-group">    
                                        <label for="lbValorIpiProprio" class="col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">Valor IPI:</label>
                                        <div class="col-sm-3 col-xs-3">
                                            <input type="text" ng-model="controlipi.valoresipiProprio.Valor" class="form-control"  id="valorIpiProprio" disabled>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Discriminação Calculo:</div>
                                            <div class="panel-body">
                                                <center>
                                                (Base de calculo) * (Alíquota de IPI)/100 = (Valor do IPI) 
                                                <br></br>
                                                {{controlipi.ipiProprio.base}} R$ * {{controlipi.ipiProprio.aliquota}}/100 = {{controlipi.ipiProprio.valorDiscriminacao}} R$
                                                </center>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-main-sub" ng-click="controlipi.limparIpiProprio()">Limpar</button>
                                            <button type="button" class="btn btn-main-sub" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- ICMS Próprio Modal Final -->