<div>
    <div class="alt-titulo-view-container">
        <p id="tituloIcms" class="alt-titulo-view">ICMS</p>
    </div>
    <div class="container container-table col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 alt-espacamento-top">
        <div class="row vertical-center-row">
            <button type="button" id="btnProprio" class="btn btn-primary btn-lg btn-block" ng-click="controlicms.criar();">ICMS Próprio</button>
            <button type="button" id="btnRed" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#icmsRedModal">Redução de Base</button>
            <button type="button" id="btnDifal" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#icmsDifalModal">DIFAL</button>
            <br>
            <button type="button" id="btnVoltar" class="btn btn btn-default btn-lg btn-block" ng-click="controlicms.voltar()">Voltar</button>
        </div>
    </div>
    <div icms-proprio-modal-opener></div>
    <div icms-red-modal-opener></div>
    <div icms-difal-modal-opener></div>
</div>
