<html>
<body class="ng-scope">
   <div class="container container-table col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <div class="row vertical-center-row">
            <button type="button" class="btn btn-main btn-lg btn-block" type="button" ng-click="controladorhome.calculoICMS()">ICMS</button>
            <button type="button" class="btn btn-main btn-lg btn-block" type="button" ng-click="controladorhome.calculoST()">ST</button>
            <button type="button" class="btn btn-main btn-lg btn-block" type="button" ng-click="controladorhome.calculoIPI()">IPI</button>
        </div>
    </div>
</body>
</html>


            