<body>
    <div class="alt-titulo-view-container">
        <p class="alt-titulo-view">ST</p>
    </div>
    <div class="container container-table col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 alt-espacamento-top">
        <div class="row vertical-center-row">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#STProprioModal">ST Próprio</button>
            <br>
            <button type="button" class="btn btn btn-default btn-lg btn-block" ng-click="controlst.voltar()">Voltar</button>
        </div>
    </div>
    <!-- ST Modal Início -->
        <div class="container">
            <div id="STProprioModal" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-grande">
                    <div class="modal-content">
                        <div class="modal-header alt-cor-principal">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ST Próprio</h4>   
                        </div>
                        <div class="modal-body alt-overflow-hidden">
                            <form name="StProprioForm">
                                <div class="col-sm-6 col-xs-12">                               
                                    <div class="form-group" ng-class="{'has-error': !controlst.valoresStProprio.validacaoBase(), 'has-success': controlst.valoresStProprio.validacaoBase()}">
                                        <label class="help-block" for="lbBaseStProprio">Base Cálculo <font size="1">sem IPI</font></label>
                                        <input type="number" ng-model="controlst.valoresStProprio.base" class="form-control">
                                        <span class="help-block msg" ng-show="!controlst.valoresStProprio.validacaoBase()">Valor inválido!</span>     
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group" ng-class="{'has-error': !controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.ipi), 'has-success':controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.ipi)}">    
                                        <label class="help-block" for="lbValorIpiStProprio">IPI</label>
                                        <input type="number" ng-model="controlst.valoresStProprio.ipi" class="form-control" id="valorIpiStProprio"/>
                                        <span class="help-block msg" ng-show="!controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.ipi)">Valor inválido!</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group" ng-class="{'has-error': !controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterna), 'has-success': controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterna)}">    
                                        <label class="help-block" for="lbAliquotaInternaStPropria">Alíq. Interna</label>
                                        <div class="input-group">
                                            <input type="number" ng-model="controlst.valoresStProprio.aliquotaInterna" class="form-control"/>
                                            <span class="input-group-addon" id="percent-addon">%</span>
                                        </div>
                                        <span class="help-block msg" ng-show="!controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterna)">Valor inválido!</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group" ng-class="{'has-error': !controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterestadual) || !controlst.valoresStProprio.validacaoAliquotaInterestadual(), 'has-success': controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterestadual)}">    
                                        <label class="help-block" for="lbAliquotaInterestStPropria">Alíq. Interestad.</label>
                                        <div class="input-group">
                                            <input type="number" ng-model="controlst.valoresStProprio.aliquotaInterestadual" class="form-control"/>
                                            <span class="input-group-addon" id="percent-addon">%</span>
                                        </div>
                                        <span class="help-block msg" ng-show="!controlst.valoresStProprio.validacaoAliquotaNaoAceitaZero(controlst.valoresStProprio.aliquotaInterestadual) || !controlst.valoresStProprio.validacaoAliquotaInterestadual()">Valor inválido!</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group" ng-class="{'has-error': !controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.mva), 'has-success': controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.mva)}">    
                                        <label class="help-block" for="lbMva">Alíq. MVA</label>
                                        <div class="input-group">
                                            <input type="number" ng-model="controlst.valoresStProprio.mva" class="form-control">
                                            <span class="input-group-addon" id="percent-addon">%</span>
                                        </div>
                                        <span class="help-block msg" ng-show="!controlst.valoresStProprio.validacaoAliquotaAceitaZero(controlst.valoresStProprio.mva)">Valor inválido!</span>
                                    </div>
                                </div>                    
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-nmain btn-block" ng-click="controlst.valoresStProprio.calcular()" ng-disabled="!controlst.valoresStProprio.isValid()">Calcular</button>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">    
                                        <a title="Discriminação" data-toggle="collapse" data-target="#discriminacaoSt" class="fa fa-question-circle-o pull-right help-discriminacao"></a>
                                        <label class="help-block" for="lbValorStProprio">Valor ST</label>
                                        <pre ng-bind="controlst.valoresStProprio.valorSt | currency"></pre>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div id="discriminacaoSt" class="collapse">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Discriminação Calculo
                                                <button type="button" class="close" data-toggle="collapse" data-target="#discriminacaoSt">&times;</button>
                                            </div>
                                            <div class="panel-body">
                                                <center>
                                                <h6>(Base ICMS [Desconsiderar IPI])*(Al.Interest.) = (ICMS)</h6>
                                                <h5>{{controlst.valoresStProprio.base}}*{{controlst.valoresStProprio.aliquotaInterest}} = {{controlst.valoresStProprio.valorIcms}}</h5>                                                
                                                <h6>(Base ICMS [Considera IPI])*(1+(MVA/100)) = (Base ST)</h6>
                                                <h5>{{controlst.valoresStProprio.baseStIpi}}*(1+({{controlst.valoresStProprio.mva}}/100)) = {{controlst.valoresStProprio.baseSt}}</h5>
                                                <h6>(Base ST)*(Al.Interna/100) - (ICMS) = (ST)</h6>
                                                <h5>{{controlst.valoresStProprio.baseSt}}*({{controlst.valoresStProprio.aliquotaInterna}}/100) - {{controlst.valoresStProprio.valorIcms}} = {{controlst.valoresStProprio.valorDiscriminacao}}</h5>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="controlst.limparSt()">Limpar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ST Modal Final -->
</body>